@charset "UTF-8";

@font-face {
    font-family: Oswald-Regular;
    src: url('../fonts/oswald/Oswald-Regular.ttf'); 
}

@font-face {
    font-family: Oswald-Medium;
    src: url('../fonts/oswald/Oswald-Medium.ttf'); 
}

@font-face {
    font-family: Oswald-Bold;
    src: url('../fonts/oswald/Oswald-Bold.ttf'); 
}


.tagCols {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#badTag{
  background-color: #FCE181;
}

.bCol{
	position: absolute;
	display: initial;
	top: 85%;
	left: 70%;
}

.goodScroll{
	background:  #9FEDD7;
}

.badScroll{
	background:#FCE181;
}

h2{
	color: #026670;
}

li{
	color: #026670;
}


.navBar {
	overflow: hidden;
	float: left;
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

input[type=text]{
	width: auto;
	border: 1px solid #026670;
	border-radius: 2px;
	font-size: 12px;
	background-color: #9FEDD7;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 8px;
	
	align-self: center;
	padding-right: .5em;
	
}

input, select, textarea{
    color: #026670;
}

textarea:focus, input:focus {
    color: #026670;
}

input::placeholder{
	color: #026670;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol{
	list-style-type: none;
	margin: none;
	padding: none;
}

.scrollbar {
	overflow: auto;
	height: 300px;
	width: 200px;
	padding: 1em;
	border:1px solid #026670;
	
}

.groupTags{
	height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.right{
  right: 0;
  background-color:  #FCE181;
}

.left{
  left: 0;
  background-color: #9FEDD7;
}

h2{
	width: fit-content;
	margin: auto;
}

/*button stuff*/

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
  font-size: 1.7em;
}

.btn-1,
.btn-2{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-1 a,
.btn-2 a{
    text-decoration: none;
    border: 0.125em solid #026670;
    padding: 1.3125em;
    color: #026670;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    position: relative;
    display: inline-block;
}

.btn-1 a::before {
    content: "";
    position: absolute;
    top: 0.3125em;
    left: -0.125em;
    width: calc(100% + 0.375em);
    /*100% plus double the times left values*/
    height: calc(100% - 0.625em);
    background-color: #9FEDD7;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }

  #addBItem a::before{
    background-color: #FCE181;
  }

  #addBItem a::after{
    background-color: #FCE181;
  }
  
  .btn-1 a:hover::before,
  .btn-2 a:hover::before {
    transform: scaleY(0);
  }
  
  .btn-1 a::after {
    content: "";
    position: absolute;
    left: 0.3125em;
    top: -0.3125em;
    width: calc(100% - 0.625em);
    /*100% plus double the times left values*/
    height: calc(100% + 0.625em);
    background-color: #9FEDD7;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }
  /* Created by http://grohit.com/  */
  
  .btn-1 a:hover::after,
  .btn-2 a:hover::after{
    transform: scaleX(0);
  }
  
  /* Button 2 styles */
  
  .btn-2 a {
    color: #9FEDD7;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-2 a:hover {
    color: #026670;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-2 a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    width: 100%;
    height: 100%;
    background-color: #026670;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  
  .btn-2 a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #026670;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }

button{
    border: none;
    background-color: transparent;
}

#finishedButton{
	width: 100%;
	align-items: flex-end;
}

#finishedButton span{
	font-size: 1em;
  	text-align:center;
}

#finishedButton a{
	padding: 15px;
  	width: 100px;
}

#addBItem span, 
#addGItem span{
	font-size: .7em;
  	text-align:center;
}

#addBItem a,
#addGItem a{
  	padding: 10px;
  	width: 40px;
  }

